// Variables
// _____________

// fonts
$font-sans: 'Source Sans Pro', sans-serif;
$font-mono: 'Source Code Pro', monospace;

// font weight
$fw-light: 100;
$fw-bold :  300;

// margin, padding
$margin-min: 0.5em;
$margin-max: 2em;

$padding-min: 0.5em;
$padding-max: 2em;

// border-radius
$border-rad: 0.5em;

// colors
$clr-light : #fff;
$clr-dark  : #303030;
$clr-accent:  #f54d27;
$clr-accent-dark:  #ce310e;

